pipeline/2 variable.json
{
	"name": "2 variable",
	"properties": {
		"activities": [
			{
				"name": "Set Length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "length",
					"value": 10
				}
			},
			{
				"name": "Set Breadth",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "breadth",
					"value": 5
				}
			},
			{
				"name": "Area Calculation",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Breadth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "area",
					"value": {
						"value": "@mul(variables('length'),variables('breadth'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"length": {
				"type": "Integer"
			},
			"breadth": {
				"type": "Integer"
			},
			"area": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-04-01T16:22:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}