pipeline/adflogs.json
{
	"name": "adflogs",
	"properties": {
		"activities": [
			{
				"name": "startlogs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[asn].[uspAdfLogsStart]",
						"storedProcedureParameters": {
							"adfname": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"pipelinename": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"runId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"runstartdate": {
								"type": "DateTime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "startlogs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "2 variable",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "endlogs-success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[asn].[uspAdfLogsEnd]",
					"storedProcedureParameters": {
						"errormessage": {
							"value": null,
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('startlogs').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"JobStatus": {
							"value": {
								"value": "@variables('status_success')",
								"type": "Expression"
							},
							"type": "String"
						},
						"runenddate": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_adfsnigdhasql1_adfsnigdhadb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "endlogs-failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[asn].[uspAdfLogsEnd]",
					"storedProcedureParameters": {
						"errormessage": {
							"value": {
								"value": "@activity('Execute Pipeline1').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('startlogs').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"JobStatus": {
							"value": {
								"value": "@variables('status_fail')",
								"type": "Expression"
							},
							"type": "String"
						},
						"runenddate": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_adfsnigdhasql1_adfsnigdhadb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"status_success": {
				"type": "String",
				"defaultValue": "Success"
			},
			"status_fail": {
				"type": "String",
				"defaultValue": "Failure"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-04-01T14:03:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}